<div class="h-screen flex justify-content-center align-items-center">
    <div class="h-auto w-20rem relative bg-white border-round">
        <div class="profile-circle h-5rem w-5rem surface-400 -my-5 mx-auto border-circle bg-contain">
        </div>
        <div class="card text-center h-full p-4">
            <div class="text-indigo-400">
                <h3>Sign Up</h3>
            </div>
            <div class="card mt-5">
                <div class="field">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text"  class="p-inputtext-sm w-17rem" pInputText placeholder="Username" />
                    </span>
                </div>
                <div class="field">
                    <span class="p-input-icon-left">
                        <i class="pi pi-lock"></i>
                        <input type="password" class="p-inputtext-sm w-17rem" pInputText placeholder="Password" />
                    </span>
                </div>
                <div class="field">
                    <span class="p-input-icon-left">
                        <i class="pi pi-lock"></i>
                        <input type="password" class="p-inputtext-sm w-17rem" pInputText placeholder="Confirm Password" />
                    </span>
                </div>
                
                <div class="py-4 px-0">
                    <p-button label="Submit" [routerLink]="['/auth/sign-in']" styleClass="p-button-sm"></p-button>
                </div>
                <div class="py-4 px-0 flex h-8rem justify-content-center align-items-center">
                    <button pButton type="button" [routerLink]="['/auth/sign-in']" class="newUser-btn" label="Sign In" icon="pi pi-sign-in" iconPos="right" class="p-button-text"></button>
                </div>
            </div>

        </div>
    </div>
  
</div>

