<div class="product-detail-view-container p-3">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6 xl:col-6 p-1" style="min-height: calc(100vh - 186px) !important;">
            <div class="card h-full">
                <p-galleria [value]="images" [thumbnailsPosition]="'left'" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '100%', 'height': '100%' }" [numVisible]="5">
                    <ng-template pTemplate="item" let-item>
                        <p-image [src]="item.itemImageSrc" width="500" alt="Image" [preview]="true"></p-image>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc" style="width: 100px; height: 100px;" />

                        </div>
                    </ng-template>
                </p-galleria>
            </div>

        </div>
        <div class="col-12 md:col-12 lg:col-6 xl:col-6 p-5" style="background: white;border-radius: 0 10px 10px 0;">
            <div class="card">
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-12 font-bold">
                        Product Name
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        lakjs ljsadlfkjalks jljasd lfjsdalkf jlkasjdf lkjaskldfjalksdjflaksjdfl
                        ajsdlkfjlasdjflkasjdflkjasfoiwejlkfsfew oisjflkjs
                    </div>

                    <div class="col-12 md:col-12 lg:col-12 p-1">

                        <!-- <div class="prices-container">
                            <div class="prices-div" *ngFor="let prices of selectedProduct.prices; let i = index" [ngClass]="{'price-selected':prices.selected}" (click)="selectedPrice(i)">
                                <div class="weight">
                                    {{prices.weight}}
                                </div>
                                <div class="price">
                                    ₹&nbsp;{{prices.productPrice}}
                                </div>
                            </div>
                        </div> -->

                        <div class="prices-container">
                            <div class="prices-div">
                                <div class="weight">
                                    3x3
                                </div>
                                <div class="price">
                                    ₹&nbsp;400.00
                                </div>
                            </div>
                            <div class="prices-div">
                                <div class="weight">
                                    3x3
                                </div>
                                <div class="price">
                                    ₹&nbsp;400.00
                                </div>
                            </div>
                            <div class="prices-div">
                                <div class="weight">
                                    3x3
                                </div>
                                <div class="price">
                                    ₹&nbsp;400.00
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 md:col-12 lg:col-12 font-bold p-1">

                        <div class="flex">
                            <div class="original-price font-bold p-1" style="text-decoration: line-through;">
                                Rs: 500.00
                            </div>
                            <div class="actual-price font-bold p-1" style="color: var(--primary-color)">
                                Rs: 350.00
                            </div>
                            <div class="discount p-1">
                                <p-tag value="Save 30%"></p-tag>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-12 p-1">
                        <app-dynamic-form-builder></app-dynamic-form-builder>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <app-title-divider [title]="'Product Details'" [icon]="'pi pi-user'"></app-title-divider>

        </div>
        <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-1 flex justify-content-center align-items-center">

            <div class="product-details-container">
                <ul>
                    <li>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </li>
                    <li>
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                    </li>
                    <li>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </li>
                    <li>
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <app-title-divider [title]="'Reviews'" [icon]="'pi pi-user'"></app-title-divider>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <app-reviews></app-reviews>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <app-title-divider [title]="'Suggested Products'" [icon]="'pi pi-user'"></app-title-divider>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <div class="flex-container">
                <div class="fixed-width-div p-2" *ngFor="let product of suggestedProducts">
                    <app-proudct-card [product]="product"></app-proudct-card>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-cart" *ngIf="showFooterCart">
        <div class="grid">
            <div class="col-12 md:col-5 lg:col-4 xl:col-4 p-3 flex justify-content-center align-items-center">
                <div class="grid">
                    <div class="col-3 md:col-3 lg:col-3 xl:col-3">
                        <div class="product-img">
                            <img src="../../../../assets/images/category_1.jpg" />
                        </div>
                    </div>
                    <div class="col-6 md:col-6 lg:col-8 xl:col-8 text-left">
                        <div class="grid">
                            <div class="col-12">
                                Product Name
                            </div>
                            <div class="col-12 flex">
                                <div class="original-price font-bold p-1" style="text-decoration: line-through;">
                                    Rs: 500.00
                                </div>
                                <div class="actual-price font-bold p-1" style="color: var(--primary-color)">
                                    Rs: 350.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-4 lg:col-4 xl:col-4 p-3 flex justify-content-center align-items-center">
                <!-- <div class="grid"> -->
                <!-- <div class="col-6 md:col-6 lg:col-3 xl:col-3"> -->
                <div class="prices-container">
                    <div class="prices-div">
                        <div class="weight">
                            3x3
                        </div>
                        <div class="price">
                            ₹&nbsp;400.00
                        </div>
                    </div>
                    <div class="prices-div">
                        <div class="weight">
                            3x3
                        </div>
                        <div class="price">
                            ₹&nbsp;400.00
                        </div>
                    </div>
                    <div class="prices-div">
                        <div class="weight">
                            3x3
                        </div>
                        <div class="price">
                            ₹&nbsp;400.00
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>


            <div class="col-12 md:col-3 lg:col-3 xl:col-3 p-3 flex justify-content-center align-items-center">

                <p-button class="w-full" type="submit" label="Add To Cart"></p-button>
            </div>
        </div>
    </div>

    <div class="footer-cart-small" *ngIf="showFooterCart">
        <div class="grid">
            <div class="col-12 p-3 flex justify-content-center align-items-center">

                <p-button class="w-full" type="submit" (click)="commonService.scrollToTop()"
                    label="Add To Cart"></p-button>
            </div>
        </div>
    </div>
</div>