<div class="product-detail-view-container p-3">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6 xl:col-6 p-1" style="min-height: calc(100vh - 186px) !important;">
            <div class="card h-full">
                <p-galleria [value]="productDetails.images?productDetails.images:[]" [thumbnailsPosition]="'left'"
                    [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%', 'height': '100%' }"
                    [numVisible]="5">
                    <ng-template pTemplate="item" let-item>
                        <p-image [src]="item.imageUrl?item.imageUrl:productDetails.imageUrl" width="500" alt="Image" [preview]="true"></p-image>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.imageUrl?item.imageUrl:productDetails.imageUrl" style="width: 100px; height: 100px;" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>

        </div>
        <div class="col-12 md:col-12 lg:col-6 xl:col-6 p-5" style="background: white;border-radius: 0 10px 10px 0;">
            <div class="card">
                <div class="grid">
                    <div class="col-12 md:col-12 lg:col-12 font-bold text-xl">
                        {{productDetails.name}}
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        {{productDetails.description}}
                    </div>

                    <div class="col-12 md:col-12 lg:col-12 p-1">

                        <div class="flex flex-column gap-2">
                            <label class="font-bold">Available Sizes</label>
                            <p-dropdown [options]="productDetails.prices" [(ngModel)]="selectedSize"
                                optionLabel="size"></p-dropdown>
                        </div>

                    </div>

                    <div class="col-12 md:col-12 lg:col-12 font-bold p-1">

                        <div class="flex">
                            <div class="original-price font-bold p-1" style="text-decoration: line-through;"
                                *ngIf="productDetails.discount">
                                Rs: {{commonService.originalPrice(selectedSize.price, productDetails.discount)}}
                            </div>
                            <div class="actual-price font-bold p-1" style="color: var(--primary-color)">
                                Rs: {{selectedSize.price}}
                            </div>
                            <div class="discount p-1" *ngIf="productDetails.discount">
                                <p-tag value="Save 30%"></p-tag>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-12 p-1">
                        <app-title-divider [title]="'Customizable'" [icon]="'pi pi-credit-card'"></app-title-divider>
                        <app-dynamic-form-builder [data]="productDetails.formFields" (formData)="receiveFormData($event)"></app-dynamic-form-builder>
                    </div>
                </div>
            </div>
        </div>

        <!-- product details -->
        <ng-container *ngIf="productDetails.productDetails">
            <div class="col-12 md:col-12 lg:col-12 xl:col-12">
                <app-title-divider [title]="'Product Details'" [icon]="'pi pi-list'"></app-title-divider>

            </div>
            <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-1 flex justify-content-center align-items-center">

                <div class="product-details-container">
                    <ul>
                        <li *ngFor="let list of productDetails.productDetails">
                            {{list}}
                        </li>

                    </ul>
                </div>
            </div>
        </ng-container>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <app-title-divider [title]="'Reviews'" [icon]="'pi pi-comments'"></app-title-divider>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <app-reviews [data]="productDetails.reviews"></app-reviews>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <app-title-divider [title]="'Suggested Products'" [icon]="'pi pi-list'"></app-title-divider>
        </div>

        <div class="col-12 md:col-12 lg:col-12 xl:col-12">
            <div class="flex-container">
                <div class="fixed-width-div p-2" *ngFor="let product of suggestedProducts"
                    (click)="navigateToProductDetails(product)">
                    <app-proudct-card [product]="product"></app-proudct-card>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-cart" *ngIf="showFooterCart">
        <div class="grid">
            <div class="col-12 md:col-5 lg:col-4 xl:col-4 p-3 mt-3 flex justify-content-center align-items-center">
                <div class="grid">
                    <div class="col-3 md:col-3 lg:col-3 xl:col-3">
                        <div class="product-img">
                            <img src="../../../../assets/images/category_1.jpg" />
                        </div>
                    </div>
                    <div class="col-6 md:col-6 lg:col-8 xl:col-8 text-left">
                        <div class="grid">
                            <div class="col-12">
                                Product Name
                            </div>
                            <div class="col-12 flex">
                                <div class="original-price font-bold p-1" style="text-decoration: line-through;"
                                    *ngIf="productDetails.discount">
                                    Rs: {{commonService.originalPrice(selectedSize.price, productDetails.discount)}}
                                </div>
                                <div class="actual-price font-bold p-1" style="color: var(--primary-color)">
                                    Rs: {{selectedSize.price}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-4 lg:col-4 xl:col-4 p-3 flex justify-content-center align-items-center">
                <div class="flex flex-column gap-2">
                    <label>Available Sizes</label>
                    <p-dropdown [options]="productDetails.prices" [(ngModel)]="selectedSize"
                        optionLabel="size"></p-dropdown>
                </div>
            </div>


            <div class="col-12 md:col-3 lg:col-3 xl:col-3 p-3 flex justify-content-center align-items-center">

                <p-button class="w-full" type="submit" label="Add To Cart"></p-button>
            </div>
        </div>
    </div>

    <div class="footer-cart-small" *ngIf="showFooterCart">
        <div class="grid">
            <div class="col-12 p-3 flex justify-content-center align-items-center">

                <p-button class="w-full" type="submit" (click)="commonService.scrollToTop()"
                    label="Add To Cart"></p-button>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>Confirm</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Remove and Add this one" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-shopping-cart" label="Go To Cart" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>