<div class="products-list-container p-3">
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 font-bold h-5rem">
    
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-user mr-2"></i>
                    <b>  Category Products</b>
                </div>
            </p-divider>
        </div> 
   </div>
    <div class="grid">
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2 p-2" *ngFor="let product of productDetils">
           <app-proudct-card [product]="product"></app-proudct-card>
        </div>    
    </div>

    <!-- <p-splitter [panelSizes]="[30, 70]" [style]="{ height: '100%' }" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">Panel 1</div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col">    <div class="grid">
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2 p-2" *ngFor="let product of productDetils">
                   <app-proudct-card [product]="product"></app-proudct-card>
                </div>    
            </div></div>
        </ng-template>
    </p-splitter> -->
</div>
