<div class="h-screen flex justify-content-center align-items-center">
    <div class="h-auto w-20rem relative bg-white border-round">
            <div class="card text-center h-full p-4">
                <div class="text-indigo-400">
                    <h3>OTP Verification</h3>
                </div>
                <div class="card mt-5">
                    <div class="field">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
                    </div>
                    <div class="py-4 px-0">
                        <p-button label="Verify OTP" (click)="signIn()" styleClass="p-button-sm"></p-button>
                    </div>
                </div>
            </div>
    </div>
</div>