<div class="card">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6 xl:col-6 p-1 text-center">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-1 text-3xl">
                    Customer Review
                </div>

                <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-1 font-bold text-8xl">
                    4.0
                </div>
                <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-1 ">
                    <p-rating [readonly]="true" [(ngModel)]="rating" [cancel]="false"></p-rating>
                </div>
            </div>
        </div>
        <div
            class=" review-btn-container col-12 md:col-6 lg:col-6 xl:col-6 p-1 flex justify-content-center align-items-center ">

            <p-button type="submit" label="Write Review"></p-button>

        </div>
    </div>
</div>

<div class="card">
    <div class="flex-container justify-content-center">
        <div class="fixed-width-div p-2">
           <div class="review-box-container p-2">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                    Parthi Ram
                </div>
                <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                    <p-rating [readonly]="true" [(ngModel)]="rating" [cancel]="false"></p-rating>
                </div>
                <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-3">
                    lasjfd ljasdflkjasldkfjldsakjf lasdjf lksjdflksadj flkjsad flksdjflksaj flsj
                </div>
            </div>
           </div>
        </div>
        <div class="fixed-width-div p-2">
            <div class="review-box-container p-2">
             <div class="grid">
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     Parthi Ram
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     <p-rating [readonly]="true" [(ngModel)]="rating" [cancel]="false"></p-rating>
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-3">
                     lasjfd ljasdflkjasldkfjldsakjf lasdjf lksjdflksadj flkjsad flksdjflksaj flsj
                 </div>
             </div>
            </div>
         </div>
         <div class="fixed-width-div p-2">
            <div class="review-box-container p-2">
             <div class="grid">
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     Parthi Ram
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     <p-rating [readonly]="true" [(ngModel)]="rating" [cancel]="false"></p-rating>
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-3">
                     lasjfd ljasdflkjasldkfjldsakjf lasdjf lksjdflksadj flkjsad flksdjflksaj flsj
                 </div>
             </div>
            </div>
         </div>
         <div class="fixed-width-div p-2">
            <div class="review-box-container p-2">
             <div class="grid">
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     Parthi Ram
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     <p-rating [readonly]="true" [(ngModel)]="rating" [cancel]="false"></p-rating>
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-3">
                     lasjfd ljasdflkjasldkfjldsakjf lasdjf lksjdflksadj flkjsad flksdjflksaj flsj
                 </div>
             </div>
            </div>
         </div>
         <div class="fixed-width-div p-2">
            <div class="review-box-container p-2">
             <div class="grid">
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     Parthi Ram
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 font-bold">
                     <p-rating [readonly]="true" [(ngModel)]="rating" [cancel]="false"></p-rating>
                 </div>
                 <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-3">
                     lasjfd ljasdflkjasldkfjldsakjf lasdjf lksjdflksadj flkjsad flksdjflksaj flsj
                 </div>
             </div>
            </div>
         </div>

    </div>
</div>
