.logo{
    height: 100px;

    img{
        height: 100%;
        border-radius: 6px 0 0 6px;
    }
}

.active {
    background-color: #3498db; /* Change this to the desired background color */
    color: #fff; /* Change this to the desired text color */
  }