/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";

// 3rd party libraries
@import "~primeng/resources/themes/lara-light-indigo/theme.css";
@import "~primeng/resources/primeng.css";
@import "./assets/theme/responsive.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgb(245 93 93 / 8%);
    // background-color: #fbb0b0;
    // background-image: linear-gradient(0deg, #fbb0b0 0%, #f55d5d 100%);
    
    // background-image: url('./assets/images/bg2.jpg'); /* Adjust the path based on your file structure */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the body takes up the full height of the viewport */
    margin: 0; /* Removes default body margin */
}

.main-content {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    transition: all 300ms ease-in-out;
}

.toggle-move-body {
    margin-left: 300px;
    transition: all 600ms ease-in-out;
}

.p-scrollpanel {
    p {
        padding: 0.5rem;
        line-height: 1.5;
        margin: 0;
    }

    &.custombar1 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--primary-color);
            opacity: 1;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--secondary-color);
            }
        }
        .p-scrollpanel-content {
            padding: 0;
        }
    }

    &.custombar2 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
            border-bottom: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--layer-2);
            border-radius: 0;
            opacity: 1;
            transition: background-color 0.2s;
        }
    }
}

.p-toolbar {
    background: var(--primary-color) !important;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    gap: 0.5rem;
    height: fit-content !important;
    padding: 0 !important;
}

.home-header {
    .p-button.p-button-text {
        color: var(--primary-color-text);
    }

    .p-button.p-button-text:enabled:hover {
        background: var(--primary-color-text);
        color: var(--primary-color);
        border-color: transparent;
    }

    .p-button.p-button-text:enabled:active {
        background: var(--primary-color-text);
        color: var(--primary-color);
        border-color: transparent;
    }

    .p-button:focus {
        box-shadow: none;
    }
}

.header-menubar {
    .p-menubar {
        background: transparent !important;
        color: #ffffff !important;
        border: none !important;
        height: 50px !important;
    }

    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
        color: #ffffff;
    }

    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
        color: #ffffff;
    }

    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
        color: #ffffff;
    }

    .p-menubar .p-menuitem {
        margin: 5px;
    }
}

.cart-dialog {
    .p-dialog {
        height: 100vh;
    }
}

.home-container {
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        height: 12px;
        width: 12px;
        border-radius: 50%;
    }

    .p-carousel .p-carousel-indicators .p-carousel-indicator button {
        height: 12px;
        width: 12px;
        border-radius: 50%;
    }

    #pr_id_2 .p-carousel-item {
        padding: 10px;
    }
}

.p-menuitem-link-active {
    background: #e9ecef;
    color: #495057 !important;

    .p-menuitem-icon {
        color: #495057 !important;
    }

    .p-menuitem-text {
        color: #495057 !important;
    }
}

.p-galleria-content {
    height: 100%;

}

.p-galleria-thumbnails-left p-galleriaitem, .p-galleria-thumbnails-top p-galleriaitem {
    order: 2;
    background: #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.p-image-preview-container>img {
    max-height: 472px;
}

.image-container{
    background-repeat: no-repeat !important; 
    // background-size: cover !important; 
    background-position: center !important;
}

.profile-file-upload .p-fileupload-buttonbar .p-button::after {
    content: "\A";
  }

  .review-btn-container{
    .p-button {
        width: fit-content !important;
    }
  }

  .flex-container {
    display: flex;
    overflow-x: auto;
    /* Add any additional flex container properties here */
  }

  .fixed-width-div {
    flex: 0 0 270px; /* This sets the flex-grow, flex-shrink, and flex-basis properties */
    width: 270px;    /* This sets the width of the div */
    /* Add any additional styles for the div here */
  }

  .footer-cart {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    z-index: 1;
 }

 .footer-cart-small {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    z-index: 1;
 }

//  .p-carousel-items-content {
//     overflow: hidden;
//     width: 100%;
//     // display: flex;
//     // justify-content: center;
// }

.custom-carousel .ui-carousel-items-container {
    display: flex;
    justify-content: center;
}

.custom-carousel .ui-carousel-item {
    flex: 0 0 auto; /* Prevent items from growing and shrinking */
}



//

// @media screen and (max-width: 2000px){
//     #pr_id_3 .p-carousel-item {
//         flex: 0 0 25% !important;
//     }
// }

// @media screen and (max-width: 1220px){
//     #pr_id_3 .p-carousel-item {
//         flex: 0 0 35% !important;
//     }

// }

// @media screen and (max-width: 1000px){
//     #pr_id_3 .p-carousel-item {
//         flex: 0 0 40% !important;
//     }

// }

// @media screen and (max-width: 800px){
//     #pr_id_3 .p-carousel-item {
//         flex: 0 0 50% !important;
//     }

// }

// @media screen and (max-width: 580px){
//     #pr_id_3 .p-carousel-item {
//         flex: 0 0 100% !important;
//     }

// }

// @media screen and (max-width: 550px){

//     #pr_id_3 .p-carousel-item {
//         flex: 1 0 100% !important;
//     }
// }

// @media screen and (max-width: 1500px)
// {
// #pr_id_3 .p-carousel-item {
//     flex: 0 0 30% !important;
// }
// }


.filter-button{
    position: fixed !important;
    bottom: 20px;
    right: 30px;
}

ng-otp-input {
    input:focus {
        // border: solid 1px #a61a1a !important;
        background-color: lightblue;
        border: none;
      }
}