// .footer {
//     height: var(--footerHeight);
//   }

.list {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  text-decoration: none; // Initial state, no underline
  color: inherit; // Initial state, inherit color

  &:hover {
    text-decoration: underline; // Underline on hover
    color: black; // Blue color on hover
  }
  cursor: pointer;
  line-height: 2;
}