.checkout-container{
    width: 100%;
    height: auto;
    // background: white;
    margin: 40px auto;
}

@media (max-width: 800px) {
    .checkout-container {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
}

.address-box-container{
  height: 200px;
  width: 100%;
  background:  rgb(245 93 93 / 8%);
  border-radius: 10px;
  border: 1px solid #c5c5c573;
}

.address-selected {
  border: 5px solid #00bb00 !important;
}

.highlight{
  background: #f55d5d;
  color: white;
}