<div class="checkout-container p-3">
    <div class="header w-full flex justify-content-center align-items-center font-bold mb-4 text-2xl h-5rem" style="background: var(--secondary-color); color: white;">
        CHECKOUT
    </div>
    <div class="card p-3 border-round-md mb-3" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
        <div class="grid">
            <div class="col-6 md:col-6 lg:col-6 xl:col-6 font-bold">Total Items</div>
            <div class="col-6 md:col-6 lg:col-6 xl:col-6 font-bold">Total Payable Amount</div>
        </div>
        <div class="grid">
            <div class="col-6 md:col-6 lg:col-6 xl:col-6 font-bold" style="color: var(--primary-color);">{{checkOutData.items.length}}</div>
            <div class="col-6 md:col-6 lg:col-6 xl:col-6 font-bold" style="color: var(--primary-color);">{{checkOutData.payableAmount}}</div>
        </div>
    </div>

   
        <div class="card p-3 border-round-md mb-3" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            <div class="title font-bold text-left mb-3">
                Choose Payment Option
            </div>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton name="paymentOption" value="cod" [(ngModel)]="selectedPayOption" inputId="cod"></p-radioButton>
                    <label for="cod" class="ml-2">COD (Cash On Delivery)</label>
                </div>
                
                <div class="flex align-items-center">
                    <p-radioButton name="paymentOption" value="pg" [(ngModel)]="selectedPayOption" inputId="pg"></p-radioButton>
                    <label for="pg" class="ml-2">Payment Gateway (Razorpay)</label>
                </div>
            </div>
        </div>

        <div class="card p-3 border-round-md mb-3" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            <div class="title font-bold text-left mb-3">
                Shipping Address
            </div>
            <div class="card">
                <div class="flex-container">
                    <div class="fixed-width-div p-2" *ngFor="let list of addresses">
                       <div class="address-box-container p-2" [ngClass]="{'address-selected':list.default}">
                        <div class="grid">
                            <div class="col-12 md:col-12 lg:col-12 xl:col-12 p-3">
                               {{list.fullAddress}}
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card p-3 mb-3">
            <p-button class="w-full" type="submit" label="Confirm To Place Order" (click)="placeOrder()"></p-button>
        </div>
</div>